<mat-drawer-container class="navbar-container" [hasBackdrop]="hasBackdrop">
  <mat-drawer #drawer [mode]="mode.value ||'side'">
    <div class="card flex justify-content-center">
      <div class="sidenav-logo-topbar"></div>
      <p-panelMenu [model]="items" [multiple]="true" [style]="{'width':'auto'}"></p-panelMenu>
  </div>
  </mat-drawer>

  <app-home>
  
  </app-home>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button  aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/home" style="cursor: pointer;">Mirco's Tool</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
      <button mat-icon-button>
        <fa-icon [icon]="faCoffee"></fa-icon>
      </button>
      <button mat-icon-button>
        <fa-icon [icon]="faCoffee"></fa-icon>
      </button>
    </mat-toolbar>

  <router-outlet>
  </router-outlet>

  </mat-drawer-content>

</mat-drawer-container>

