

.navbar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

.sidenav-logo-topbar{
  background-color: #3f51b5;
  height: 64px;;
}

.custom-sidenav-menu-item{
  background: #3f51b5;
  
}

